<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%style{%d{ISO8601}}{black} %highlight{%-5level } %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
       
       <!-- MQTT DATA-->
         <RollingFile name="csvFile" fileName="./logs/data.csv" filePattern="./logs/data_%d{dd.MM.yyyy}.gz">
      		 <CsvParameterLayout delimiter=";" escape="|" quoteMode="NONE" header="datetime,timestamp,topic,message\n"/>
      		<Policies>
        		<TimeBasedTriggeringPolicy interval="1"/>
      		</Policies>   
      		<DefaultRolloverStrategy>
		        <Delete basePath="./logs/" maxDepth="1">
		          <IfFileName glob="data*" />
		          <IfLastModified age="365d" />
		        </Delete>
		      </DefaultRolloverStrategy>                            
		</RollingFile>
        
        
        <RollingFile name="RollingError" fileName="./logs/error.log" filePattern="./logs/error_%d{dd.MM.yyyy-HH:mm:ss}.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
              <DefaultRolloverStrategy>
		        <Delete basePath="./logs/" maxDepth="1">
		          <IfFileName glob="error*" />
		          <IfLastModified age="7d" />
		        </Delete>
		      </DefaultRolloverStrategy>
        </RollingFile>
        
        <RollingFile name="RollingMail" fileName="./logs/mail.log" filePattern="./logs/mail_%d{dd.MM.yyyy}.gz">
            <PatternLayout>
                <pattern>%d %p %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
             </Policies>
             <DefaultRolloverStrategy>
		        <Delete basePath="./logs/" maxDepth="1">
		          <IfFileName glob="mail*" />
		          <IfLastModified age="7d" />
		        </Delete>
		      </DefaultRolloverStrategy>
        </RollingFile>
        
        <RollingFile name="RollingFile" fileName="./logs/console.log" filePattern="./logs/console_%d{dd.MM.yyyy-HH:mm:ss}.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
             </Policies>
             <DefaultRolloverStrategy>
		        <Delete basePath="./logs/" maxDepth="1">
		          <IfFileName glob="console*" />
		          <IfLastModified age="3d" />
		        </Delete>
		      </DefaultRolloverStrategy>
        </RollingFile>
        
         <RollingFile name="LibLogs"
            fileName="./logs/libs.log"
            filePattern="./logs/libs-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
             <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        
        
        
         <RollingFile name="accessLogs"
            fileName="./logs/access.log"
            filePattern="./logs/access-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
             <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        
        
        <RollingFile name="persistence"
            fileName="./logs/persistence.log"
            filePattern="./logs/persistence-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
             <DefaultRolloverStrategy max="5"/>
        </RollingFile>
         
    </Appenders>

    <Loggers>
        <Logger name="openware" level="trace" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="RollingFile" />
        </Logger>
         <Logger name="accessLogger" level="trace" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="accessLogs" />
        </Logger>
        <Logger name="persistenceLogger" level="trace" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="persistence" />
        </Logger>
        <Logger name="errorLogger" level="warn" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="RollingError" />
        </Logger>
        <Logger name="mailLogger" level="info" additivity="false">
        	    <AppenderRef ref="RollingMail" />
        </Logger>
        <Logger name="org.apache.http" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="spark" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="org.eclipse.jetty" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="org.mongodb.driver" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="fr.opensagres.xdocreport" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="apiLogger" level="trace" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="dataLogger" level="trace" additivity="false">
        	    <AppenderRef ref="csvFile" />
        </Logger>
    </Loggers>
</Configuration>