<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%style{%d{ISO8601}}{black} %highlight{%-5level } %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
	    <RollingFile name="csvFile" 
                     fileName="./logs/data.csv"
                     filePattern="./logs/data-%i.csv" >
            <CsvParameterLayout delimiter=";" header="time,topic,message\n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="500" />
        </RollingFile>
        <RollingFile name="RollingFile"
            fileName="./logs/console.log"
            filePattern="./logs/console-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
                           </Policies>
             <DefaultRolloverStrategy max="100"/>
        </RollingFile>
           <RollingFile name="RollingError"
            fileName="./logs/error.log"
            filePattern="./logs/error-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
             <DefaultRolloverStrategy max="100"/>
        </RollingFile>
         <RollingFile name="LibLogs"
            fileName="./logs/libs.log"
            filePattern="./logs/libs-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
             <DefaultRolloverStrategy max="10"/>
        </RollingFile>
         <RollingFile name="accessLogs"
            fileName="./logs/access.log"
            filePattern="./logs/access-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
             <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="openware" level="trace" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="RollingFile" />
        </Logger>
        <Logger name="errorLogger" level="warn" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="RollingError" />
        </Logger>
        <Logger name="org.apache.http" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="spark" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="org.eclipse.jetty" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="org.mongodb.driver" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="fr.opensagres.xdocreport" level="trace" additivity="false">
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="apiLogger" level="trace" additivity="false">
        	    <AppenderRef ref="Console" />
        	    <AppenderRef ref="LibLogs" />
        </Logger>
        <Logger name="dataLogger" level="trace" additivity="false">
        	    <AppenderRef ref="csvFile" />
        </Logger>
    </Loggers>
</Configuration>